# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
npm-debug.log*
coverage/
*.tsbuildinfo
next-env.d.ts

# prisma
packages/database/prisma/migrations/dev/
